body{
  font-family: 'Open Sans' !important;
}
.ff{
    font-size: 13.5px;
    background-color: #1d9bf0;
}
.bg-grid{
    background-image: url(image/black\ grid.png);
}
.bg-grid2{
  background-image: url(image/white\ grid.png);
}
.grid{
    padding-left: 7.6%;
}
.bg-nav{
    background-color: rgba(255, 255, 255, 0.6);
}
.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.main{
  margin: 0px 150px;
}
.bg-violet{
  background-color: #5e35b1;
}
.w{
  width: 510px !important;
}
.ww{
  width: 375px !important;
}
.col-6{
  width: 917px !important;
}
.flag-new::before {
    content: "New!";
    background-color: #087f23;
    position: absolute;
    top: -.8rem;
    left: -.8rem;
    padding: .3rem .5rem;
    display: inline-block;
    color: #fff;
    font-weight: both;
    transform: rotate(-20deg); 
}
.panel-box {
  position: relative; }
