body{
  font-family: 'Open Sans' !important;
}
.ff{
    font-size: 13.5px;
    background-color: #1d9bf0;
}
.bg-grid{
    background-image: url(image/black\ grid.png);
}
.bg-grid2{
  background-image: url(image/white\ grid.png);
}
.grid{
    padding-left: 7.6%;
}
.bg-nav{
    background-color: rgba(255, 255, 255, 0.6);
}
.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.main{
  margin: 0px 150px;
}
.bg-violet{
  background-color: #5e35b1;
}
.col-3{
  width: 510px !important;
}
.col-6{
  width: 920px !important;
}
/*.flag-new::before {
    content: "New!";
    background-color: #087f23;
    position: absolute;
    top: -.8rem;
    left: -.8rem;
    padding: .3rem .5rem;
    display: inline-block;
    color: #fff;
    font-weight: both;
    transform: rotate(-20deg); }
.panel-box {
  background-image: url(/img/tiny_grid.png);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 1rem;
  position: relative; }
  .panel-box > a:link, .panel-box > a:visited {
    text-decoration: none;
    color: #000; }
  
  .panel-box ul {
    margin: 1rem 0;
    padding: 0 0 0 1.2em; }
  
  .home-layout h1, .home-layout h2, .panel-box h3, .example-layout h3 {
    margin: 0; }*/